@import "tailwindcss" important;


* {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
}
@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

  @theme {
    --color-ita-blue: #1261bd;
    --color-ita-green: #01954e;
    --color-ita-yellow: #eeb534;
    --color-ita-light-blue: #00bff3;
  }


.required .v-field:not(.v-field--active) .v-field__overlay {
    border-left: 5px solid rgba(235, 97, 97, 0.808);
    border-radius: 5px;
}

  